header {
    display: flex;

    background-color: #207789;
    padding: 20px 157px;
}

header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.side-by-side {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    width: 84px;
    height: 75px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover {
    text-decoration: underline;
}

header .header-nav li, footer .footer-nav li {
    font-family: sans-serif;
    margin-left: 61px;
    color: white;
    font-size: 12px;
}

.content {
    padding: 157px 86px;
    display: flex;
    gap: 200px;
    flex-direction: column;
}

.overlay {
    pointer-events: none;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in;
}

.overlay.show {
    opacity: 0.3;
}

section {
    font-family: sans-serif;
}

section.about {
    padding: 0px 24px;
}

section.about .headers {
    position: relative;
}

section.about img {
    margin-left: 51px;
    width: 18%;
}

section.about .titles {
    position: absolute;
    top: 0;
    width: 37%;
    display: flex;
    flex-direction: column;
    gap: 45px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

section h1 {
    color: #207789;
    font-size: 45px;
    text-align: center;
    font-weight: 400;
}

section h2 {
    color: #207789;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
}

section h3 {
    color: #5ba3b1;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
}

section.about .paragraphs {
    margin-top: 135px;
    display: flex;
    gap: 93px;
}

section p {
    font-size: 30px;
    text-align: center;
}

.flexContainer {
    display: flex;
    gap: 66px;
    padding: 0 86px;
}

.skill {
    width: 33.333%;
}

footer {
    margin-top: 50px;
    height: 72px;
    background-color: #207789;
    padding: 21px 157px;
    display: flex;
    align-items: center;
}

.contact {
    font-family: sans-serif;
    color: white;
    height: 100%;
  
    position: relative;
    margin-left: 216px;
    display: flex;
    flex-direction: column;
}

.get-in-touch {
    font-size: 25px;
}

.links {
    margin-top: auto;
    width: 100%;
    display: flex;
    font-size: 18px;
}

.links a {
    color: white;
}

.lastlink {
    margin-left: auto;
}

.footer-nav {
    margin-left: auto;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.visible {
    opacity: 1;
}

.fade-out {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.fade-out.hidden {
    opacity: 0;
}

.dropdown-menu {
    display: none;
}

/* MOBILE */
@media screen and (max-width: 480px) {
    header {
        height: 52px;
        padding: 38px 34px;
    }

    .logo {
        width: 54px;
        height: 51px;
    }

    header nav {
        display: none;
    }

    .hamburger {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    .mobile-only div.hamburger-line {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }

    .content {
        padding: 72px 24px;
        gap: 50px;
    }

    section.about {
        padding: 0;
    }

    section.about .headers {
        text-align: center;
    }

    section.about img {
        margin-left: 0;
        width: 149px;
    }

    section.about .titles {
        width: 100%;
        position: relative;
        gap: 0;
    }

    section h1 {
        margin-top: 50px;
        font-size: 25px;
    }

    section h2 {
        margin-top: 50px;
        font-size: 25px;
    }

    section h3 {
        font-size: 20px;
    }

    section.about .paragraphs {
        flex-direction: column;
        margin-top: 50px;
        gap: 50px;
    }

    section.about .paragraphs p {
        margin: 0px;
    }

    .flexContainer {
        flex-direction: column;
        align-items: center;
        padding: 0 21px;
        gap: 13px;
    }

    section p {
        font-size: 20px;
    }

    .skill {
        width: auto;
    }

    footer {
        margin-top: 0;
        height: 51px;
        padding: 42px 34px 35px 34px;
    }

    footer .contact {
        margin-left: 44px;
        gap: 9px;
    }

    footer .contact .get-in-touch {
        font-size: 20px;
    }

    footer .contact a {
        font-size: 15px;
    }

    .footer-nav {
        display: none;
    }

    .dropdown-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .dropdown-menu.show {
        transform: translateY(0);
    }

    .dropdown-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .dropdown-menu ul li {
        height: 60px;
        background-color: #F2B705;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dropdown-menu ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .dropdown-menu ul li a:hover {
        text-decoration: underline;
    }
}